<form method="POST" action="/users/{{user}}/avatar" id="avatar-form" enctype="multipart/form-data">
    <div class="form-group row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 text-center whiteBack">
            <label  for="exampleFormControlFile1"></label>
            <input type="file" accept=".jpeg,.jpg,.png" class="form-control-file  form-control-lg"
                id="exampleFormControlFile1" name="exampleFormControlFile1">

                <button type="submit" class="btn btn-primaryn btn-block shadow mb-3">Submit</button>

        </div>
        <div class="col-sm-2"></div>

    </div>
    
</form>