<div class="row">
    <div class="col-md-12">
        <h2 class="report-title text-center shadow">Confirmed Cheater List</h2>
        <h3 class="hiddden"></h1>
        <table id="banlisttable" class="table table-striped table-bordered fullwidth">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Latest Update</th>
                    <th>Can Appeal</th>
                </tr>
            </thead>
            <tbody>
                {{#each data}}
                <tr>
                    <td><a href="/users/{{this.user_name}}">{{this.user_name}}</a></td>
                    <td>{{dateFormat this.label_updated "MMMM Do YYYY - h:mm:ss a"}}</td>
                    <td>{{this.canAppeal}}</td>
                </tr>
                {{/each}}
            </tbody>
            <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Latest Update</th>
                    <th>Can Appeal</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>