<div class="row">
    <div class="col-md-12">
        <div class="container search-bar">
            <form action="/list/" method="POST" enctype="x-www-form-urlencoded">
                <div class="row h-25">
                    <div class="col ">
                        <div class="input-group">
                            <input class="form-control has-success shadow p-3 bg-white rounded" type="search"
                                placeholder="Search" aria-label="Search" name="username_search"
                                required="required">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark btn-block shadow rounded" type="submit">Search by Status</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <h2 class="report-title text-center shadow">Confirmed Cheater List</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>