<div class="row my-5">
    <div class="col-md-12 my-5">
        <h2 class="report-title text-center shadow">Error Page</h2>
        <main class="alert alert-danger">
            <p>An error has occurred.</p>
            <p>{{errors}}</p>

             <div class="row h-25 mt-4 ">
                        <div class="col">
                            <a href="/" class="btn btn-danger btn-block shadow rounded">Click here to go back to the home page</a>
                        </div>
                    </div>
        </main>
    </div>
</div>



