{{#if users.isAdmin}}
    {{#each users.pending_votes}}
        <div style="padding:10px">
            <div class="bs-callout bs-callout-default">
                <h4>05/04/2020</h4>
                User: {{this}} is waiting for your vote.
                <a href="http://localhost:3000/polls">To vote for him/her!</a>
            </div>
        </div>
    {{/each}}
{{/if}}



<div class="separatingBar"></div>




<div style="padding:10px">
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>

    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
    <div class="bs-callout bs-callout-default">
        <h4>05/04/2020</h4>
        This is a default callout.
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Column1
    </div>
    <div class="col-md-8" style="background-color: #f8f9fa">
        Column2
    </div>
    <div class="col-md-2">
        Column3
    </div>
</div>