{{#if users.isAdmin}}
    {{#each users.pending_votes}}
        <div class="smallPad">
            <div class="bs-callout bs-callout-default">
                <h4>{{this.createdTime}}</h4>
                User: <a href="http://localhost:3000/users/{{this.pollUser}}">{{this.pollUser}}'s</a> status is waiting to be determined by your vote.
                <a href="http://localhost:3000/polls/{{this.pollUser}}">Click here to place a vote on him/her!</a>
            </div>
        </div>
    {{/each}}
{{/if}}

