<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="public/css/custom.css">

    <title>Hello, world!</title>
</head>

<body>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light shadow">

        <a class="navbar-brand" href="/index">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">

                <a href="" class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" data-toggle="modal" data-target="#modalLoginForm">Login</a>
                <a href="" class="btn btn-outline-primary my-2 my-sm-0" data-toggle="modal" data-target="#modalSignUpForm">Sign
                    Up</a>

                <!-- <input class="form-control mr-sm-2" type="text" placeholder="Username" aria-label="Username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" aria-label="Password">
        <button class="btn btn-outline-success my-2 my-sm-0 mr-sm-2" type="submit">Login</button>
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Sign Up!</button> -->

            </form>














        </div>
    </nav>

    <!-- <div class="d-none d-lg-block" style="background-image:url('https://i.ytimg.com/vi/vS9AXGUBqj0/maxresdefault.jpg');background-repeat: no-repeat;  background-attachment: fixed;   background-size: cover;">
    <div class="container search-bar " >
      <div class="row h-25">
            <div class="col align-self-center ">
                <div class="input-group">
                    <input class="form-control has-success" type="search" placeholder="Search" aria-label="Search">
                </div>
            </div>
            <div class="col-md-2 align-self-center">
                <button class="btn btn-dark btn-block" type="submit">Search</button>
            </div>
        </div>
    </div>

  </div> -->

    <div class="parallax">
        <!-- bullets -->
        <div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 50px; margin-left: 345px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 115px; margin-left: 100px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet2.png" class="bullet" style="margin-top: 200px; margin-left: 234px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet3.png" class="bullet" style="margin-top: 255px; margin-left: 255px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet4.png" class="bullet" style="margin-top: 300px; margin-left: 450px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 425px; margin-left: 620px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 550px; margin-left: 312px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet2.png" class="bullet" style="margin-top: 628px; margin-left: 412px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet3.png" class="bullet" style="margin-top: 245px; margin-left: 100px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet4.png" class="bullet" style="margin-top: 590px; margin-left: 100px"></div>

            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 150px; margin-left: 100px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet2.png" class="bullet" style="margin-top: 615px; margin-left: 190px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet3.png" class="bullet" style="margin-top: 211px; margin-left: 534px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet4.png" class="bullet" style="margin-top: 1055px; margin-left: 755px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 380px; margin-left: 750px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 325px; margin-left: 626px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet2.png" class="bullet" style="margin-top: 320px; margin-left: 502px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet3.png" class="bullet" style="margin-top: 928px; margin-left: 712px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2px) scale(2);"> <img src="public/css/bullet4.png" class="bullet" style="margin-top: 520px; margin-left: 563px"></div>
            <div class="parallax__layer parallax__layer--back" style="transform: translateZ(-2.5px) scale(2);"> <img src="public/css/bullet.png" class="bullet" style="margin-top: 990px; margin-left: 600px"></div>

        </div>


        <div class="parallax__layer parallax__layer--base">
            <!-- search bar -->
            <div class="shadow">
                <div class="container search-bar">
                    <div class="row h-25">
                        <div class="col ">
                            <div class="input-group">
                                <input class="form-control has-success shadow p-3 mb-5 bg-white rounded" type="search" placeholder="Search" aria-label="Search">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-dark btn-block shadow rounded" type="submit">Search</button>
                        </div>
                    </div>
                </div>

            </div>

            <div style="background-color:#86929c; height: 2px;"></div>





            <div class="container" style="background-color:#a9a9a930">
                {{{body}}}
            </div>

            <!-- <div class="container page-size">
                <h1>Hello, world!2</h1>
            </div> -->

            <!-- Footer -->
            <footer class="page-footer font-small blue">

                <!-- Copyright -->
                <div class="footer-copyright text-center pt-3">© 2019 Copyright: Group 5
                    <img class="footer-img" ng-src="https://data4.origin.com/asset/content/dam/originx/web/app/games/battlefield/battlefield-v/gdp-redesign/BFV_GDP_overview_ww_v2.jpg/1d94ce42-8954-4bc2-a778-529d32d8b724/original.jpg" src="https://data4.origin.com/asset/content/dam/originx/web/app/games/battlefield/battlefield-v/gdp-redesign/BFV_GDP_overview_ww_v2.jpg/1d94ce42-8954-4bc2-a778-529d32d8b724/original.jpg">
                </div>
                <!-- Copyright -->

            </footer>
            <!-- Footer -->



        </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="public/js/custom.js"></script>









    <!-- Sign In - Login -->
    <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Username</label>
                        <input type="text" id="username_signup" class="form-control validate">
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-outline-success">Login</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalSignUpForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Sign Up</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body mx-3">
                    <div class="md-form mb-5">
                        <i class="fas fa-envelope prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-email">Username</label>
                        <input type="text" id="username_signup" class="form-control validate">
                    </div>

                    <div class="md-form mb-4">
                        <i class="fas fa-lock prefix grey-text"></i>
                        <label data-error="wrong" data-success="right" for="defaultForm-pass">Password</label>
                        <input type="password" id="defaultForm-pass" class="form-control validate">
                    </div>

                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button class="btn btn-outline-primary">Sign Up</button>
                </div>
            </div>
        </div>
    </div>

</body>


</html>